# General
*.pyc
.DS_Store

# virtualenv
/.Python
/bin
/build
/dist
/include/python2.6
/lib/python2.6
/pip-log.txt
/MANIFEST

/src/libtomcrypt-1.16/doc/crypt.pdf
*.o
*.a

/gitignore
/Makefile.sub

/tomcrypt/*.so
/src/_main.c
/src/_core.c
/src/cipher.c

# docs
/doc/build