# General
*.pyc
.DS_Store

# virtualenv
/.Python
/bin
/build
/include
/lib
/pip-log.txt

# Build
/tomcrypt/*.so
/tomcrypt/*.c
/tomcrypt/*.pyx
/tomcrypt/*.pxd
/tomcrypt/*.pxi
/tomcrypt/*.inc
/Makefile.sub
/libtomcrypt*