# General.
*.pyc
.DS_Store

# Old venv.
/.Python
/bin
/include/python*
/lib/python*
/man

# New venv.
/venv
/venv3

# Products
/build
/dist
/pip-log.txt
/MANIFEST
/docs/_build
*.pdf
*.o
*.a
*.so
tomcrypt/*.c
