[submodule "vendor/libtomcrypt"]
	path = vendor/libtomcrypt
	url = https://github.com/libtom/libtomcrypt.git
[submodule "vendor/libtommath"]
	path = vendor/libtommath
	url = https://github.com/libtom/libtommath.git
