include *.txt
recursive-include tests *.py
recursive-include tomcrypt *.py

include src/libtom*-*/LICENSE
recursive-include lib/libtomcrypt-1.17/src *.h *.c
recursive-include lib/libtommath-0.41      *.h *.c
include src *.h *.c
